In [1]:
from google.colab import drive

drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
import pandas as pd
import os
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns
%matplotlib inline
from collections import Counter 
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
m = pd.read_csv("/content/gdrive/My Drive/finalmerge.csv",index_col=0)

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
X=m.drop([
               "ArrDelayMinutes",
                "ArrTime",
                "ArrDel15",
                 "Unnamed: 0_x",
                 "Unnamed: 0_y",
                 "Unnamed: 0.1",
                "Origin",
                "Dest",
                "airport_x",
                "airport_y",
                "FlightDate",
                "date_y",
                "date_x",
                "time_x",
                "time_y",
                "windspeedKmph_y",
                "winddirDegree_y",
                "weatherCode_y",
                "precipMM_y",
                "visibility_y",
                "pressure_y",
                "cloudcover_y",
                "DewPointF_y",
                "WindGustKmph_y",
                "tempF_y",
               "WindChillF_y",
               "humidity_y",],axis=1)
X

         Quarter  Year  Month  ...  tempF_x  WindChillF_x  humidity_x
0              1  2016      1  ...       41            32          74
1              1  2016      1  ...       51            47          46
2              1  2016      1  ...       51            47          46
3              1  2016      1  ...       42            33          74
4              1  2016      1  ...       53            49          42
...          ...   ...    ...  ...      ...           ...         ...
1815400        3  2017      9  ...       74            74          87
1815401        3  2017      9  ...       65            65          91
1815402        3  2017      9  ...       67            67          75
1815403        3  2017      9  ...       68            68          80
1815404        3  2017      9  ...       72            72          78

[1815405 rows x 23 columns]

In [0]:
Y=m["ArrDel15"]
from sklearn.model_selection import train_test_split  
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = None)

In [6]:
#Y_train.value_counts()

0.0    1076768
1.0     284785
Name: ArrDel15, dtype: int64

In [0]:
#resampling to make the 0 and 1 values equal 
X = pd.concat([X_train, Y_train], axis=1)

In [0]:
not_delayed = X[X.ArrDel15==0]
delayed = X[X.ArrDel15==1]

In [0]:
from sklearn.utils import resample
delayed_upsampled = resample(delayed,replace=True, n_samples=len(not_delayed),random_state=27)

In [0]:
upsampled = pd.concat([not_delayed, delayed_upsampled])

In [11]:
upsampled.ArrDel15.value_counts()

1.0    1076768
0.0    1076768
Name: ArrDel15, dtype: int64

In [0]:
#values are equal now
X = upsampled.drop(['ArrDel15'], axis=1)
y = upsampled.ArrDel15

In [0]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [14]:
X_train

         Quarter  Year  Month  ...  tempF_x  WindChillF_x  humidity_x
1002151        4  2017     10  ...       76            76          62
249068         4  2016     12  ...       53            51          27
53089          1  2016      1  ...       37            29          61
48025          1  2016      1  ...       48            47          55
62728          1  2016      1  ...       67            66          95
...          ...   ...    ...  ...      ...           ...         ...
228301         4  2016     12  ...       58            56          92
924186         1  2017      1  ...       67            66          90
1243805        1  2017      2  ...       64            63          46
1271745        1  2017      2  ...       58            56          93
905729         3  2016      9  ...       75            75          49

[1615152 rows x 23 columns]

In [16]:

y_test.value_counts()

0.0    269228
1.0    269156
Name: ArrDel15, dtype: int64

In [17]:
y_train.value_counts()

1.0    807612
0.0    807540
Name: ArrDel15, dtype: int64

In [18]:
#0=1
#decision tree
from sklearn.tree import DecisionTreeClassifier

clf=DecisionTreeClassifier()
clf.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [0]:
y_pred2 = clf.predict(X_test)

In [20]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred2))

              precision    recall  f1-score   support

         0.0       0.98      0.90      0.94    269228
         1.0       0.91      0.98      0.95    269156

    accuracy                           0.94    538384
   macro avg       0.95      0.94      0.94    538384
weighted avg       0.95      0.94      0.94    538384

In [21]:
#extra tree 
from sklearn.ensemble import ExtraTreesClassifier
etc=ExtraTreesClassifier(n_jobs=-1,random_state =None)
etc.fit(X_train,y_train)

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
                     oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

In [0]:
Y_predetc=etc.predict(X_test)

In [23]:
target_names=["Class 0","Class 1"]
#from sklearn.metrics import classification_report

print(classification_report(y_test,Y_predetc,target_names=target_names))

              precision    recall  f1-score   support

     Class 0       0.99      0.94      0.96    269228
     Class 1       0.94      0.99      0.96    269156

    accuracy                           0.96    538384
   macro avg       0.96      0.96      0.96    538384
weighted avg       0.96      0.96      0.96    538384

In [24]:
Y_predetc
xtdf=pd.DataFrame(Y_predetc)
xtdf[0]
X_test["ArrDelayMinutes"]=m["ArrDelayMinutes"]
X_test

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

         Quarter  Year  Month  ...  WindChillF_x  humidity_x  ArrDelayMinutes
1685804        3  2017      8  ...            61          90             33.0
754837         3  2016      7  ...            95          53              0.0
1254628        1  2017      2  ...            50          93            145.0
1534758        2  2017      6  ...            67          89             16.0
987516         1  2017      1  ...            48          90             86.0
...          ...   ...    ...  ...           ...         ...              ...
510463         2  2016      4  ...            42          60            196.0
636970         2  2016      6  ...            76          64             24.0
695921         3  2016      7  ...            84          71             25.0
264699         4  2016     12  ...            38          43             21.0
1709734        3  2017      8  ...            75          70             29.0

[538384 rows x 24 columns]

In [0]:
import collections

classified_df = pd.DataFrame(X_test)

classified_df['Arrdel15']=Y_predetc

In [0]:
classified_df
classified_df.to_csv("mod3manipulation.csv")

In [0]:
from google.colab import files
files.download("mod3manipulation.csv")

In [30]:
#xgboost
import xgboost 
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [0]:
#not able to fit the model in xgboost and logistic since i dropped arraydelayminutes and arrdel15
#taking the csv from extra trees as i got the highest accuracy in that